---
---
.overlay-header
{
	font-size: 24px;
	text-shadow: 2px 2px 8px #000000;
	line-height: 160%;
}

.overlay-small
{
	font-size: 10px;
	text-shadow: 2px 2px 8px #000000;
}

.gamebutton-icon
{
	vertical-align: top;
	height: 100%;
}

.gamebutton:hover .gamebutton-overlay
{
	opacity: 1;
	color: white;
	text-align: center;
}

.gamebutton-overlay
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: purple;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .8s;
}

.gamebutton {
	position: relative;
	padding: 2px 0;
	color: black;
    width: 33.33333%;
    height: 80px;
    background: transparent;
	float: left;
}

.gametable-container
{
	display: table;
	width:	100%;
}

.gametable-container > a
{
	font-size: 22px;
}


.gametable-container
{
	display: table;
	width:	100%;
}

@media (max-width: 600px)
{
	.gamebutton
	{
		width: 100%;
	}
}

*, *:before, *:after
{
    box-sizing: inherit;
}