<div class="twentytwenty-container {{ include.unique-class | default: 'slider-default' }}">
  <img src="{{ include.before | relative_url }}" alt="Before" />
  <img src="{{ include.after  | relative_url }}" alt="After"  />
</div>

<script>
$(window).on('load', function()
{
  $(".{{ include.unique-class | default: 'slider-default' }}").twentytwenty({
    default_offset_pct: 0.5,
    before_label: '{{ include.label-before | default: 'Before' }}',
    after_label:  '{{ include.label-after  | default: 'After' }}',
    no_overlay: false
  });
});
</script>