<div class="twentytwenty-container">
  <img src="{{ include.before | relative_url }}" alt="{{ include.alt-before | default: 'Before image' }}" />
  <img src="{{ include.after  | relative_url }}" alt="{{ include.alt-after  | default: 'After image' }}" />
</div>

<script>
$(window).on('load', function()
{
  $(".twentytwenty-container").twentytwenty({
    default_offset_pct: 0.5,
    orientation: 'horizontal',
    before_label: '{{ include.label-before | default: 'Before' }}',
    after_label:  '{{ include.label-after  | default: 'After' }}',
    no_overlay: false
  });
});
</script>