<a href="/web_projects/vision_fov_calculator/#{{include.url}}">
	<div class="gamebutton" onclick="loadDefaultValue('{{include.url}}')">
		<img src="/web_projects/game_icons/{{include.url}}.png" class="gamebutton-icon">
		{{include.name}}
		<div class="gamebutton-overlay" style="background-color: {{include.color}}">
			<div class="overlay-header">{{include.name}}</div>
			<div class="overlay-small">Developer: {{include.developer}}</div>
			<div class="overlay-small">Year: {{include.year}}</div>
		</div>
	</div>
</a>